
<div class="container">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle style="background-color:red;" value="bad">Malo</mat-button-toggle>
        <mat-button-toggle style="background-color:yellow;" value="ok">Regular</mat-button-toggle>
        <mat-button-toggle style="background-color:green;" value="good">Bueno</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<button mat-raised-button color="primary">Enviar</button>

<p>Indica tu Experiencia</p>
<p>o</p>
<p>Inicia sesion y deja un comentario</p>
