<mat-card *ngIf="!isAuth">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form #loginForm="ngForm">
        <mat-form-field>
            <input
              matInput
              [formControl]="emailControl"
              id="email"
              type="email"
              name="email"

              required email
              placeholder="Email"
              >
            <mat-error *ngIf="emailControl.invalid">Ingrese un correo valido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [formControl]="passwordControl"
              id="password"
              type="password"
              name="password"

              required
              placeholder="Password"
              >
              <mat-error *ngIf="passwordControl.invalid">Ingrese una contrasena valida</mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color = "primary"

            type="submit" (click)="login()">Login
          </button>

    </form>
  </mat-card>

